export GO_CURRENT_PROJECT=AwESome
export GO_CURRENT_PACKAGE=github.com/twstrike

export GOPATH=$HOME/.gopkgs/$GO_CURRENT_PROJECT

PATH_add $GOPATH/bin
mkdir -p $GOPATH
mkdir -p $GOPATH/src
mkdir -p $GOPATH/pkg
mkdir -p $GOPATH/bin
mkdir -p $GOPATH/src/$GO_CURRENT_PACKAGE

CURRENT_DIR=`expand_path .`

if [ ! -e $GOPATH/src/$GO_CURRENT_PACKAGE/$GO_CURRENT_PROJECT ]; then
   ln -s $CURRENT_DIR $GOPATH/src/$GO_CURRENT_PACKAGE/$GO_CURRENT_PROJECT
fi
